h1 {
    background: goldenrod;
    color: darkblue;
}

h2 {
    background: goldenrod;
    color: darkblue;
}
a {
color: darkblue;
}

p {
    background: goldenrod;
    color: darkblue;
}

ul {
    background: goldenrod;
    color: darkblue;
}

li {
    background: goldenrod;
    color: darkblue;
}

img {
    width: 300px;
}