body {
    background: goldenrod;
}
h1 {
    background: gold;
    color: black;
}
h2 {
    background: gold;
    color: black;
}
ul {
    background: goldenrod;
    color: black;
}
li {
    background: goldenrod;
    color: black;
}
p {
    background: goldenrod;
    color: black;
}
a {
    color: black;
}
img {
   width: 300px;
}
