body {
    margin: 0;
}

.box {
    display: flex;
    height: 600px;
    background: rgba(255, 180, 0, 0.52);
    justify-content: center;
    align-items: center;
}

.card {
    width: 350px;
    height: 450px;
    background: goldenrod;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid blue;
}

p {
    margin-top: 130px;
    display: block;
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.txt {
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.58);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    width: 70%;
}

.box1 {
    margin-top: 50px;
    height: 60px;
    width: 260px;
    background: rgba(0, 115, 255, 0.69);
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: black;
    box-sizing: border-box;
    border: 1px solid blue;

}