body {
    display: flex;
    justify-content: center;
}

.conteiner {
    height: 700px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    row-gap: 10px;
}

.box1 {
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 230px;
    background: slategray;
    border-radius: 8px;
    border: 1px solid black;

}

.box2 {
    width: 100%;
    height: 470px;
    display: flex;
    column-gap: 10px;
    row-gap: 10px;

}

.blok1 {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    row-gap: 10px;

}

.blok2 {
    width: 20%;
    height: 100%;
    background: slategray;
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    row-gap: 10px;
    border-radius: 8px;
    border: 1px solid black;
    font-size: 60px;
    align-items: center;
    justify-content: center;

}

.lol1 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    column-gap: 10px;

}

.lol2 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    row-gap: 10px;
}

.card1 {
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3%;
    height: 100%;
    background: slategray;
    border-radius: 8px;
    border: 1px solid black;
}
